.button {
  height: 3em;
  color: white;
  background-color: black;
  display: flex;
  border-radius: 0.5em;
  align-items: center;
  justify-content: center;
  min-width: 22em;
  font-size: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  /* SMARTPHONE*/
  .button {
    width: 100%;
  }
}
